AccessModifierOffset: -4
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortRecordOnASingleLine: Empty
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
BreakTemplateDeclarations: Yes
ColumnLimit: 0
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: false
IndentAccessModifiers: false
IndentRequiresClause: false
IndentWidth: 4
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
QualifierAlignment: Left
SeparateDefinitionBlocks: Leave
SortIncludes: true
SortUsingDeclarations: Never
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeEnumUnderlyingTypeColon: true
SpaceBeforeInheritanceColon: true
SpaceInEmptyBraces: Never
WrapNamespaceBodyWithEmptyLines: Never
AllowShortLambdasOnASingleLine: None
Cpp11BracedListStyle: Block
